Repository DiegoMartinotti/gestion-transporte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,json}": ["prettier --write"]
}

feat(tramos): modularize TramoPage components
  frontend/src/pages/tramos/TarifaStatus.tsx
  frontend/src/pages/tramos/TramosFilters.tsx
  frontend/src/pages/tramos/TramosList.tsx
  frontend/src/pages/tramos/TramosStatistics.tsx
  frontend/src/pages/tramos/helpers/tramosPageHelpers.ts
Due: eslint --fix, prettier --write

refactor(import): extract types and helper components from ImportWizard
  frontend/src/components/import/ImportProgressHelpers.tsx
  frontend/src/components/import/ImportWizardTypes.ts
Due: eslint --fix, prettier --write

feat(backend): add flexible tariff migration script
  backend/scripts/migrateTarifasFlexibles.ts
Due: eslint --fix, prettier --write

fix(backend): upgrade ESLint configuration to compatible versions
  backend/.eslintrc.json
  backend/package-lock.json
  backend/package.json
Due: prettier --write

fix(reports): resolve ESLint errors in report components
  frontend/src/components/reports/ReportBuilderHelpers.tsx
  frontend/src/components/reports/ReportBuilderTabs.tsx
  frontend/src/components/reports/ReportHistoryHelpers.tsx
  frontend/src/components/reports/ReportHistoryTable.tsx
Due: eslint --fix, prettier --write

fix(reports): reduce file complexity and extract helper components
  frontend/src/components/reports/ReportBuilderTabs.tsx
  frontend/src/components/reports/ReportBuilderTabsHelpers.tsx
Due: eslint --fix, prettier --write

refactor(maps): extract SiteMap helper functions to separate module
  frontend/src/components/maps/SiteMapHelpers.tsx
Due: eslint --fix, prettier --write

feat(viajes): add detail view tab components for trips
  frontend/src/components/viajes/ViajeCargaTab.tsx
  frontend/src/components/viajes/ViajeCostosTab.tsx
  frontend/src/components/viajes/ViajeGeneralTab.tsx
  frontend/src/components/viajes/ViajeRecursosTab.tsx
  frontend/src/components/viajes/ViajeSidebar.tsx
Due: eslint --fix, prettier --write

refactor(viajes): extract detail view into modular tab components
  frontend/src/components/viajes/ViajeCargaTab.tsx
  frontend/src/components/viajes/ViajeCostosTab.tsx
  frontend/src/components/viajes/ViajeGeneralTab.tsx
  frontend/src/components/viajes/ViajeRecursosTab.tsx
  frontend/src/components/viajes/ViajeSidebar.tsx
  frontend/src/components/viajes/ViajeSidebarHelpers.tsx
  frontend/src/pages/viajes/ViajeDetail.tsx
  frontend/src/pages/viajes/components/ViajeDetailHeader.tsx
  frontend/src/pages/viajes/components/ViajeDetailModals.tsx
  frontend/src/pages/viajes/components/ViajeDetailTabs.tsx
  frontend/src/pages/viajes/helpers/viajeDetailHelpers.ts
Due: eslint --fix, prettier --write

fix(viajes): add proper TypeScript typing to ViajeDetail components
  frontend/src/pages/viajes/components/ViajeDetailHeader.tsx
  frontend/src/pages/viajes/components/ViajeDetailModals.tsx
  frontend/src/pages/viajes/components/ViajeDetailTabs.tsx
Due: eslint --fix, prettier --write

feat(excel): add validation helpers for Excel templates
  frontend/src/utils/excel/validationHelpers.ts
Due: eslint --fix, prettier --write

feat(excel): add shared constants for Excel templates
  frontend/src/templates/excel/constants.ts
Due: eslint --fix, prettier --write

feat(excel): add Excel preview helper utilities
  frontend/src/utils/excelPreviewHelpers.ts
Due: eslint --fix, prettier --write

chore(deps): update eslint-plugin-sonarjs to v3.0.4
  package-lock.json
  package.json
Due: prettier --write

feat(frontend): add virtualized table helpers for performance optimization
  frontend/src/hooks/helpers/virtualizedTableHelpers.ts
Due: eslint --fix, prettier --write

feat(excel): add Excel import and processor helper utilities
  frontend/src/components/modals/ExcelImportHelpers.tsx
  frontend/src/services/excel/excelProcessorHelpers.ts
Due: eslint --fix, prettier --write

feat(viajes): add modular components for viajes page refactoring
  frontend/src/pages/viajes/ViajesFilters.tsx
  frontend/src/pages/viajes/ViajesStatistics.tsx
  frontend/src/pages/viajes/ViajesTable.tsx
  frontend/src/pages/viajes/helpers/viajeFormHelpers.ts
  frontend/src/pages/viajes/helpers/viajesPageHelpers.ts
  frontend/src/pages/viajes/hooks/useViajeForm.ts
  frontend/src/pages/viajes/hooks/useViajesPage.ts
  frontend/src/pages/viajes/steps/BasicInfoStep.tsx
  frontend/src/pages/viajes/steps/BillingStep.tsx
  frontend/src/pages/viajes/steps/CargoStep.tsx
  frontend/src/pages/viajes/steps/ResourcesStep.tsx
Due: eslint --fix, prettier --write

chore: add .serena/ to .gitignore
  .gitignore
  frontend/.gitignore
Due: none

fix(types): resolve TypeScript errors and update deprecated Mantine attributes
  frontend/src/components/details/PersonalDetail.tsx
  frontend/src/components/forms/EmpresaForm.tsx
  frontend/src/hooks/usePersonalStats.ts
  frontend/src/pages/personal/PersonalPage.tsx
  frontend/src/services/excel/ExcelProcessor.ts
  frontend/src/templates/excel/PersonalTemplate.ts
Due: eslint --fix, prettier --write

fix(backend): add missing dependencies express-validator and node-cache
  backend/package-lock.json
  backend/package.json
Due: prettier --write
