Repository DiegoMartinotti/gestion-transporte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'if [[ \"$0\" != *\"/tests/\"* ]]; then eslint --max-warnings 0 \"$0\"; fi'",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

fix(codacy): aplicar fixes de calidad de código
  backend/controllers/viaje/getViajeById.ts
  backend/models/Usuario.ts
Due: eslint --max-warnings 0, prettier --write

feat(codacy): add Codacy CLI script and configuration file
  .codacy/cli.sh
  .codacy/codacy.yaml
  .gitignore
Due: none

fix(types): corregir 7 errores TS2345 en formularios y backend
  backend/controllers/formulaCliente/getFormulaById.ts
  frontend/src/components/forms/TramoForm.tsx
  frontend/src/components/forms/helpers/tarifaHelpers.tsx
  frontend/src/components/forms/helpers/tramoHelpers.tsx
  frontend/src/components/forms/hooks/useTramoHandlers.ts
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(security): resolver vulnerabilidades críticas en dependencias
  backend/package-lock.json
  backend/package.json
  backend/routes/viajes.ts
Due: eslint --max-warnings 0, prettier --write

fix(types): corregir 6 errores TS2345 en cluster más frecuente
  backend/controllers/formulaCliente/getAllFormulas.ts
  backend/controllers/personal/createPersonalBulk.ts
  frontend/src/components/forms/components/TramoTarifasPanel.tsx
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(types): corregir 6 errores TS2345 en cluster más frecuente (#5)
  backend/controllers/formulaCliente/getAllFormulas.ts
  backend/controllers/personal/createPersonalBulk.ts
  frontend/src/components/forms/components/TramoTarifasPanel.tsx
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(types): corregir 11 errores TS18046 en cluster más frecuente
  backend/controllers/personal/createPersonalBulk.ts
  backend/controllers/personal/updatePersonal.ts
  backend/controllers/reglaTarifa/createReglaTarifa.ts
Due: eslint --max-warnings 0, prettier --write

fix(types): corregir 11 errores TS18046 en cluster más frecuente (#6)
  backend/controllers/personal/createPersonalBulk.ts
  backend/controllers/personal/updatePersonal.ts
  backend/controllers/reglaTarifa/createReglaTarifa.ts
Due: eslint --max-warnings 0, prettier --write

fix(types): corregir 147 errores TS18046 y refactorizar complejidad
  backend/controllers/reglaTarifa/getReglaTarifaById.ts
  backend/controllers/tarifaEngine/auditoriaHelpers.ts
  backend/controllers/tarifaEngine/getAuditoria.ts
  backend/models/ReglaTarifa.ts
Due: eslint --max-warnings 0, prettier --write

fix(codacy): corregir issues de Codacy en PR #7
  backend/controllers/reglaTarifa/getReglaTarifaById.ts
  backend/models/ReglaTarifa.ts
Due: eslint --max-warnings 0, prettier --write

fix(codacy): resolver todos los issues de complejidad y seguridad
  backend/controllers/reglaTarifa/getReglaTarifaById.ts
  backend/models/ReglaTarifa.ts
Due: eslint --max-warnings 0, prettier --write

chore(codacy): configurar reglas para usar ESLint del proyecto
  .codacy.yml
Due: none

fix(eslint): add sonarjs recommended-legacy plugin to ESLint configuration
  frontend/.eslintrc.json
Due: prettier --write

fix: reduce lint debt in forms components
  frontend/src/components/forms/EmpresaForm.tsx
  frontend/src/components/forms/helpers/siteHelpers.tsx
  frontend/src/components/forms/validation/personalValidation.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(forms): mark props as readonly for lint compliance
  frontend/src/components/forms/ClienteForm.tsx
  frontend/src/components/forms/ExtraForm.tsx
  frontend/src/components/forms/components/ViajeAssignerContent.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(models): reducir incidencias de lint
  backend/models/Cliente.ts
  backend/models/TarifaMetodo.ts
Due: eslint --max-warnings 0, prettier --write

chore: reducir errores lint y tipos en tarifas
  backend/controllers/reglaTarifa/getAllReglasTarifa.ts
  backend/controllers/tarifaMetodo/deleteTarifaMetodo.ts
  frontend/src/components/calculation/TarifaCalculator.tsx
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(excel): unify validation helpers usage
  frontend/src/services/excel/ValidationRules.ts
  frontend/src/templates/excel/EmpresaTemplate.ts
  frontend/src/utils/excel/validationHelpers.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(frontend): marcar helpers como readonly
  frontend/src/components/calculators/ExtraCalculator.tsx
  frontend/src/components/calendar/ExpirationCalendarHelpers.tsx
  frontend/src/components/details/OrdenCompraDetailHelpers.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Refactor selectores para reducir errores de lint
  frontend/src/components/selectors/PersonalSelector.tsx
  frontend/src/components/selectors/SelectorFactory.tsx
  frontend/src/components/selectors/helpers/personalSelectorHelpers.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix: ajustar tipados de simulador de tarifa
  backend/controllers/tarifaEngine/simulateTarifa.ts
  backend/controllers/tarifaEngine/simulateTarifa.types.ts
  backend/controllers/tarifaMetodo/getAllTarifaMetodos.ts
  frontend/src/components/tarifa/useTarifaSimulator.ts
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(viajes): ajustar tipado de controladores y rutas
  backend/controllers/viaje/getAllViajes.ts
  backend/controllers/viaje/iniciarBulkImportViajes.ts
  backend/routes/viajes.ts
Due: eslint --max-warnings 0, prettier --write

fix: ajustar validaciones de tarifa
  backend/controllers/reglaTarifa/updateReglaTarifa.helpers.ts
  backend/controllers/reglaTarifa/updateReglaTarifa.ts
  backend/controllers/tarifaMetodo/createTarifaMetodo.ts
  backend/controllers/tarifaMetodo/updateTarifaMetodo.ts
Due: eslint --max-warnings 0, prettier --write

Refactor viaje domain hooks
  backend/controllers/viaje/descargarPlantillaCorreccion.ts
  backend/models/Viaje.ts
  backend/models/viaje.types.ts
  backend/models/viajeCalculations.ts
  backend/models/viajeHooks.ts
Due: eslint --max-warnings 0, prettier --write

fix(viajes): atender reglas lint en componentes de formulario
  frontend/src/pages/viajes/ViajesPageComponents.tsx
  frontend/src/pages/viajes/helpers/viajeFormHelpers.ts
  frontend/src/pages/viajes/hooks/useViajeFormHelpers.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Ajusta manejo de tramos en formularios
  frontend/src/components/forms/helpers/tramoHelpers.tsx
  frontend/src/components/forms/hooks/useTramoHandlers.ts
  frontend/src/pages/tramos/components/TramoImportModal.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

chore(forms): address lint issues in form utilities
  frontend/src/components/forms/components/SiteFormSections.tsx
  frontend/src/components/forms/helpers/personalHelpers.tsx
  frontend/src/components/forms/validation/empresaValidation.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(viajes): enforce readonly props and safe guards
  frontend/src/components/viajes/ConfigurationPreview/ConfigurationSummaryCard.tsx
  frontend/src/components/viajes/ConfigurationPreview/RisksSection.tsx
  frontend/src/components/viajes/VehiculoAssigner/AssignmentForm.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix: ajusta validaciones en selectores
  frontend/src/components/selectors/PersonalSelectorNew.tsx
  frontend/src/components/selectors/TramosSelector.tsx
  frontend/src/components/selectors/VehiculoSelector.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix: tipado estrictO en flujo de tramos
  backend/controllers/tramo/bulkCreateTramos.ts
  backend/controllers/tramo/testImportacionTipos.ts
  backend/services/tramo/tramoQueryHelpers.ts
Due: eslint --max-warnings 0, prettier --write

Refactor mapas para ajustes de tipos
  frontend/src/components/maps/DistanceCalculator.tsx
  frontend/src/components/maps/DistanceCalculatorHelpers.tsx
  frontend/src/components/maps/RouteVisualizer.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(tramo): tipado robusto en diagnósticos y vigencia
  backend/controllers/tramo/updateVigenciaMasiva.ts
  backend/controllers/tramo/verificarPosiblesDuplicados.ts
  backend/routes/tramos.ts
Due: eslint --max-warnings 0, prettier --write

fix(viajes): normalizar defaults y handlers del formulario
  frontend/src/pages/viajes/helpers/viajeFormUtils.ts
  frontend/src/pages/viajes/helpers/viajeFormValidation.ts
  frontend/src/pages/viajes/hooks/useViajeFormHandlers.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Refina flujos de viaje e importación de Excel
  frontend/src/pages/viajes/ViajeForm.tsx
  frontend/src/pages/viajes/ViajeFormOriginal.tsx
  frontend/src/pages/viajes/components/ViajesPageSubComponents.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(viajes): normalizar selects y datos de modales
  frontend/src/pages/viajes/components/ViajeDetailModals.tsx
  frontend/src/pages/viajes/components/ViajeFormStep1.tsx
  frontend/src/pages/viajes/components/ViajeFormStep2.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Normaliza handlers asíncronos en rutas
  backend/routes/auth.ts
  backend/routes/sites.ts
  backend/routes/vehiculos.ts
Due: eslint --max-warnings 0, prettier --write

Refina manejo de errores en módulo de tramos
  backend/controllers/tramo/getAllTramos.ts
  frontend/src/components/details/hooks/useTramoCalculator.ts
  frontend/src/pages/tramos/hooks/useTramosPage.ts
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix: ajustar tipados de tramo
  backend/controllers/tramo/calcularTarifa.ts
  backend/controllers/tramo/getAllTramos.ts
  backend/services/tramo/tramoProcessingHelpers.ts
Due: eslint --max-warnings 0, prettier --write

Ajusta tipado de mapas y soporte de arrastre
  frontend/src/components/maps/LocationPicker.tsx
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/maps/MapViewHelpers.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(routes): tipar handlers de tarifa para evitar TS2769
  backend/routes/reglasTarifa.ts
  backend/routes/tarifaEngine.ts
  backend/routes/tarifaMetodos.ts
Due: eslint --max-warnings 0, prettier --write
