Repository DiegoMartinotti/gestion-transporte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

chore(tramo): ajustar tipados en controladores y helpers
  backend/controllers/tramo/calcularTarifa.ts
  backend/controllers/tramo/getAllTramos.ts
  backend/services/tramo/tramoProcessingHelpers.ts
Due: eslint --max-warnings 0, prettier --write

fix: ajuste de tipos para google maps
  frontend/src/components/maps/RouteVisualizer/hooks/useRouteCalculation.ts
  frontend/src/components/maps/RouteVisualizerHelpers.tsx
  frontend/src/components/maps/utils/distanceCalculatorUtils.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Fix tarifa UI handling after validator cleanup
  frontend/src/components/tarifa/ReglaTarifaBuilder.tsx
  frontend/src/components/tarifa/components/ResultadosTable.tsx
  frontend/src/hooks/useTarifaManager.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Ajusta formularios de viajes para pasar lint y tipado
  frontend/src/pages/viajes/components/ViajeFormStep4.tsx
  frontend/src/pages/viajes/hooks/useViajesPage.ts
  frontend/src/types/viaje.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Refactoriza middleware de validaciones
  backend/middleware/validationMiddleware.ts
Due: eslint --max-warnings 0, prettier --write

fix(frontend): align viajes filters with mantine types
  frontend/src/components/viajes/ViajeCard.tsx
  frontend/src/pages/viajes/ViajesFilters.tsx
  frontend/src/pages/viajes/ViajesPageComponents.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Alinea tipos del builder de reportes
  frontend/src/components/reports/components/ReportBuilderLayout.tsx
  frontend/src/components/reports/components/ReportBuilderTabs.tsx
  frontend/src/components/reports/useReportViewer.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(backend): corregir errores de tipado en sistema de tarifas
  backend/controllers/reglaTarifa/updateReglaTarifa.helpers.ts
  backend/controllers/reglaTarifa/updateReglaTarifa.ts
  backend/controllers/tarifaEngine/calculateTarifa.ts
  backend/controllers/tarifaMetodo/updateTarifaMetodo.ts
Due: eslint --max-warnings 0, prettier --write

fix(frontend): corregir errores ESLint en components/details
  frontend/src/components/details/ClienteDetail.tsx
  frontend/src/components/details/EmpresaDetail.tsx
  frontend/src/components/details/OrdenCompraDetail.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

refactor(vehiculo): reducir complejidad y líneas en controladores
  backend/controllers/vehiculo/createVehiculo.ts
  backend/controllers/vehiculo/createVehiculosBulk.ts
  backend/controllers/vehiculo/updateVehiculo.ts
Due: eslint --max-warnings 0, prettier --write

fix(formulas-tarifas): corregir errores TypeScript y complejidad
  backend/controllers/formulaCliente/validateFormula.ts
  backend/controllers/reglaTarifa/createReglaTarifa.ts
  backend/services/formulaClienteService.ts
Due: eslint --max-warnings 0, prettier --write

fix(models): corregir errores TypeScript en sistema de tarifas
  backend/models/FormulasPersonalizadasCliente.ts
  backend/models/ReglaTarifa.ts
  backend/models/Tramo.ts
Due: eslint --max-warnings 0, prettier --write

fix(tarifas): corregir errores TypeScript en sistema de tarifas
  backend/controllers/reglaTarifa/deleteReglaTarifa.ts
  backend/controllers/tarifaEngine/getAuditoria.ts
  backend/models/FormulasPersonalizadasCliente.ts
Due: eslint --max-warnings 0, prettier --write

fix(tramos): corregir 32 errores TypeScript en módulo de tramos
  backend/models/Tramo.ts
  backend/services/tramo/tramoBulkHelpers.ts
  backend/services/tramo/tramoBulkOperations.ts
  backend/services/tramo/tramoService.ts
Due: eslint --max-warnings 0, prettier --write

fix(tarifas): corregir 11 errores TypeScript en sistema de tarifas
  backend/controllers/tarifaEngine/auditoriaHelpers.ts
  backend/controllers/tarifaEngine/calculateTarifa.ts
  backend/controllers/tarifaMetodo/deleteTarifaMetodo.ts
Due: eslint --max-warnings 0, prettier --write

fix(routes): corregir 20 errores TypeScript en rutas clientes, empresas y extras
  backend/routes/clientes.ts
  backend/routes/empresas.ts
  backend/routes/extras.ts
Due: eslint --max-warnings 0, prettier --write

fix(personal): corregir 20 errores TypeScript en módulo de personal
  backend/controllers/personal/createPersonalBulk.ts
  backend/controllers/personal/getAllPersonal.ts
  backend/services/personal/personalService.ts
Due: eslint --max-warnings 0, prettier --write

fix(models): corregir 3 errores TypeScript en modelo Tramo
  backend/models/Tramo.ts
Due: eslint --max-warnings 0, prettier --write

refactor(typescript): corregir TOP 3 patrones de error TypeScript
  backend/controllers/empresa/createEmpresa.ts
  backend/controllers/reglaTarifa/getReglaTarifaById.ts
  backend/controllers/site/bulkCreateSites.ts
  backend/controllers/site/exportSites.ts
  backend/controllers/site/getAllSites.ts
  backend/controllers/tarifaMetodo/getMetodosActivos.ts
  backend/middleware/loggingMiddleware.ts
  backend/types/excel.d.ts
  backend/types/express.d.ts
  backend/types/mongoose.d.ts
  backend/utils/typeGuards.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): refactorizar validadores en Personal.ts para corregir TS2322
  backend/models/Personal.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir errores TS2322 en DatePickerInput de ImportHistoryComponents
  frontend/src/components/import/ImportHistoryComponents.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(typescript): corregir errores TS18046 en catch blocks con tipo unknown
  frontend/src/components/modals/ExcelImportHelpers.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/helpers/virtualizedTableHelpers.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(routes): corregir errores TypeScript TS2769 en 4 archivos de rutas
  backend/routes/formulaClienteRoutes.ts
  backend/routes/reglasTarifa.ts
  backend/routes/viajes.ts
  backend/utils/types/RequestTypes.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir 6 errores TS2769 (overload mismatch)
  frontend/src/components/tarifa/components/ReglaTarifaTable.tsx
  frontend/src/components/validators/DefaultBusinessRuleValidator.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

refactor(typescript): corregir TOP 3 patrones de error TypeScript
  backend/models/Empresa.ts
  backend/utils/database/MongooseHelpers.ts
  backend/utils/errors/ErrorGuards.ts
  backend/utils/types/DateTransformer.ts
  backend/utils/types/IndexableEntity.ts
  backend/utils/types/TypeGuards.ts
  backend/utils/validators/MongooseValidatorTypes.ts
  frontend/src/utils/errors/ErrorGuards.ts
  frontend/src/utils/types/DateTransformer.ts
  frontend/src/utils/types/TypeGuards.ts
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

Path conditions:
  eslint --max-warnings 0: any of: backend/**/*.{ts,tsx}
  prettier --write: ((any of: backend/**/*.{ts,tsx}) or (any of: frontend/**/*.{ts,tsx})) or (any of: **/*.{md,json})
  bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi': any of: frontend/**/*.{ts,tsx}
