Repository DiegoMartinotti/gestion-transporte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'if [[ \"$0\" != *\"/tests/\"* ]]; then eslint --max-warnings 0 \"$0\"; fi'",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}

refactor(VehicleDetailsSection): resolver errores ESLint mediante extracción de componentes
  frontend/src/components/viajes/ConfigurationPreview/VehicleDetailsSection.tsx
  frontend/src/components/viajes/ConfigurationPreview/VehicleTableRow.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

refactor(VehicleTypeDetector): resolver errores ESLint mediante refactorización modular
  frontend/src/components/viajes/AnalysisParameters.tsx
  frontend/src/components/viajes/DetectionHeader.tsx
  frontend/src/components/viajes/DetectionResult.tsx
  frontend/src/components/viajes/EmptyState.tsx
  frontend/src/components/viajes/ManualOverride.tsx
  frontend/src/components/viajes/VehicleTypeDetector.tsx
  frontend/src/components/viajes/detectionUtils.ts
  frontend/src/components/viajes/useVehicleDetection.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(types): eliminar warnings @typescript-eslint/no-explicit-any
  frontend/src/components/viajes/VehiculoAssigner/AssignmentCard.tsx
  frontend/src/components/viajes/ViajeCard/ViajeCardContent.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(vehiculos): reemplazar non-null assertion con validación condicional
  frontend/src/constants/vehiculos.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(contexts): reemplazar non-null assertion con validación condicional
  frontend/src/contexts/EntityNamesContext.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

refactor(useCalculatorBase): extraer acciones CRUD para cumplir max-lines-per-function
  frontend/src/hooks/useCalculatorBase.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

refactor(useTarifaManager): extraer acciones CRUD para cumplir max-lines-per-function
  frontend/src/hooks/useTarifaManager.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(eslint): corregir 19 warnings ESLint en ViajeFormOriginal.tsx
  frontend/src/pages/viajes/ViajeFormOriginal.tsx
  frontend/src/pages/viajes/components/ExtraFormItem.tsx
  frontend/src/pages/viajes/components/TarifaCalculationPanel.tsx
  frontend/src/pages/viajes/components/ViajeFormBasicStep.tsx
  frontend/src/pages/viajes/components/ViajeFormBillingStep.tsx
  frontend/src/pages/viajes/components/ViajeFormCargoStep.tsx
  frontend/src/pages/viajes/components/ViajeFormStepper.tsx
  frontend/src/pages/viajes/components/ViajeFormVehicleStep.tsx
  frontend/src/pages/viajes/components/ViajeStepperContent.tsx
  frontend/src/pages/viajes/hooks/useViajeFormHelpers.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

delete(tsc-errors-agrupados): remove TypeScript and ESLint error summary file
  frontend/tsc-errors-agrupados.md
Due: prettier --write

fix(personal-management): corregir 12 errores TypeScript y ESLint
  frontend/src/components/forms/PersonalFormTypes.ts
  frontend/src/pages/viajes/hooks/useViajeFormHelpers.ts
  frontend/src/services/personalService.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(personal-management): corregir 8 errores TypeScript en gestión de personal
  frontend/src/components/calculators/components/PartidaComponents.tsx
  frontend/src/components/forms/PersonalFormTypes.ts
  frontend/src/services/personalService.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(personal-management): corregir 45+ errores TypeScript y ESLint en gestión de personal
  backend/controllers/auth/login.ts
  frontend/src/components/forms/PersonalForm.tsx
  frontend/src/components/forms/PersonalFormTypes.ts
  frontend/src/components/forms/helpers/personalHelpers.tsx
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(eslint): refactorizar tarifaEngine.ts y formulaParser.ts para cumplir ESLint --max-warnings 0
  backend/services/tarifaEngine.ts
  backend/services/tarifaEngine/calculoHelpers.ts
  backend/services/tarifaEngine/contextHelpers.ts
  backend/services/tarifaEngine/metodoHelpers.ts
  backend/services/tarifaEngine/reglasProcessor.ts
  backend/services/tarifaEngine/types.ts
  backend/services/tarifaEngine/utils.ts
  backend/services/tarifaService.ts
  backend/utils/formulaParser.ts
  backend/utils/formulaParser/calculoHelpers.ts
  backend/utils/formulaParser/evaluador.ts
  backend/utils/formulaParser/types.ts
  backend/utils/formulaParser/validador.ts
  backend/utils/formulaParserSimple.ts
  backend/utils/formulaProcessors.ts
Due: eslint --max-warnings 0, prettier --write

fix(formula-engine): corregir 27 errores TypeScript en sistema de fórmulas
  backend/utils/formulaParser/evaluador.ts
  backend/utils/formulaParser/types.ts
  frontend/src/components/forms/FormulaForm/FormulaSection.tsx
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(formula-engine): corregir 6 errores TypeScript en sistema de fórmulas
  backend/controllers/tarifaEngine/clearCache.ts
  backend/utils/formulaParserSimple.ts
  backend/utils/formulaProcessors.ts
Due: eslint --max-warnings 0, prettier --write

fix(formula-engine): corregir 3 errores TypeScript críticos en sistema de fórmulas
  backend/services/tarifaEngine.ts
  backend/utils/formulaParser/validador.ts
  backend/utils/formulaParserSimple.ts
Due: eslint --max-warnings 0, prettier --write

fix(tramo-controllers): corregir 10 errores TypeScript/ESLint en controladores de tramos
  backend/controllers/tramo/calcularTarifa.ts
  backend/controllers/tramo/createTramo.ts
  backend/controllers/tramo/getAllTramos.ts
Due: eslint --max-warnings 0, prettier --write

fix(forms): corregir 8 errores TypeScript en sistema de formularios
  frontend/src/components/forms/PersonalFormDynamicSections.tsx
  frontend/src/components/forms/SiteForm.tsx
  frontend/src/components/forms/validation/siteValidation.ts
  frontend/src/services/empresaService.ts
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(viajes): corregir 6 errores TypeScript en controladores de viajes
  backend/controllers/viaje/createViaje.ts
  backend/controllers/viaje/getAllViajes.ts
  backend/controllers/viaje/updateViaje.ts
Due: eslint --max-warnings 0, prettier --write

fix(config): corregir 14 errores ESLint en módulos de configuración
  backend/config/middlewareConfig.ts
  backend/config/routeConfig.ts
  backend/config/validateEnv.ts
Due: eslint --max-warnings 0, prettier --write

fix(types): corregir 6 errores @typescript-eslint/no-explicit-any
  backend/config/middlewareConfig.ts
  backend/controllers/cliente/createCliente.ts
  backend/controllers/cliente/getClienteById.ts
  backend/utils/errorHandler.ts
Due: eslint --max-warnings 0, prettier --write

fix(types,eslint): reducir complejidad y eliminar any en helpers/maps/forms
  frontend/src/components/forms/helpers/tarifaHelpers.tsx
  frontend/src/components/forms/validation/siteValidation.ts
  frontend/src/components/maps/MapView.tsx
  frontend/src/components/maps/SiteMap.tsx
Due: prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(types): corregir 2 errores @typescript-eslint/no-explicit-any
  backend/controllers/cliente/getAllClientes.ts
  backend/controllers/empresa/createEmpresa.ts
  backend/utils/errorHandler.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): corregir 4 errores @typescript-eslint/no-unused-vars
  backend/app.ts
  backend/config/mongoIndexes.ts
  backend/controllers/formulaCliente/utils/checkOverlap.ts
  backend/controllers/personal/getAllPersonal.ts
  backend/controllers/site/bulkCreateSites.ts
  backend/controllers/site/getAllSites.ts
  backend/services/routingService.ts
  backend/services/site/siteService.ts
  backend/services/tramo/tramoService.ts
  backend/services/vehiculo/vehiculoService.ts
  backend/utils/logger.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): eliminar imports no utilizados en getAllSites.ts
  backend/controllers/site/getAllSites.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): corregir 4 errores @typescript-eslint/no-explicit-any en controladores empresa
  backend/controllers/empresa/createEmpresa.ts
  backend/controllers/empresa/deleteEmpresa.ts
  backend/controllers/empresa/getEmpresaById.ts
Due: eslint --max-warnings 0, prettier --write

fix(types,security): corregir 10 errores @typescript-eslint/no-explicit-any y 2 errores sonarjs
  backend/app.ts
  backend/config/database.ts
  backend/controllers/empresa/updateEmpresa.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): eliminar interfaces ApiResponse no utilizadas en controllers/extra
  backend/controllers/extra/createExtra.ts
  backend/controllers/extra/deleteExtra.ts
  backend/controllers/extra/getAllExtras.ts
  backend/controllers/extra/getExtraById.ts
  backend/controllers/extra/updateExtra.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): suprimir 16 errores @typescript-eslint/no-explicit-any en routes
  backend/routes/clientes.ts
  backend/routes/tarifaEngine.ts
  backend/routes/tarifaMetodos.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): corregir cluster @typescript-eslint/no-explicit-any en 3 archivos clave
  backend/controllers/formulaCliente/getAllFormulas.ts
  backend/controllers/formulaCliente/updateFormula.ts
  backend/controllers/tramo/getAllTramos.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): corregir cluster @typescript-eslint/no-explicit-any en 3 archivos clave
  backend/controllers/formulaCliente/getFormulaById.ts
  backend/utils/logger.ts
  frontend/src/services/empresaService.ts
Due: eslint --max-warnings 0, prettier --write, bash -c 'if [[ "$0" != *"/tests/"* ]]; then eslint --max-warnings 0 "$0"; fi'

fix(eslint): corregir 12 errores @typescript-eslint/no-explicit-any en 3 archivos clave
  backend/config/mongoIndexes.ts
  backend/controllers/cliente/updateCliente.ts
  backend/utils/commonValidators.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): corregir 6 errores @typescript-eslint/no-explicit-any en 3 archivos core
  backend/controllers/formulaCliente/types.ts
  backend/utils/ApiResponse.ts
  backend/utils/errors.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir error TS2345 ValidationError[] en getAllFormulas.ts
  backend/controllers/formulaCliente/getAllFormulas.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir error TS2345 y refactorizar createReglaTarifa.ts
  backend/controllers/reglaTarifa/createReglaTarifa.ts
Due: eslint --max-warnings 0, prettier --write

feat(eslint): refactorizar validateFormula.ts para cumplir reglas ESLint
  backend/controllers/formulaCliente/validateFormula.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir error TS2345 y warnings en getTarifaMetodoById.ts
  backend/controllers/tarifaMetodo/getTarifaMetodoById.ts
Due: eslint --max-warnings 0, prettier --write

fix(eslint): corregir 3 errores @typescript-eslint/no-explicit-any
  backend/controllers/empresa/createEmpresa.ts
  backend/controllers/empresa/getAllEmpresas.ts
  backend/controllers/formulaCliente/createFormula.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir error TS2345 en createEmpresa.ts
  backend/controllers/empresa/createEmpresa.ts
Due: eslint --max-warnings 0, prettier --write

fix(typescript): corregir error TS2352 en updateEmpresa.ts
  backend/controllers/empresa/updateEmpresa.ts
Due: eslint --max-warnings 0, prettier --write
